//microsoft-tw
.showcase-tw {
    background: url("../img/microsoft-tw/RWAn3f.png") no-repeat center center/cover;
}

.microsoft-Edge {
    background: url("../img/microsoft-tw/RE4r2gN.jpg") no-repeat center center/cover;
}

//microsoft-tw
.showcase-eg {
    background: url('../img/microsoft-eg/slide1.png') no-repeat center center/cover;
}

.xbox {
    background: url("../img/microsoft-eg/xbox.png") no-repeat center center/cover;
}

.carbon {
    background: url("../img/microsoft-eg/carbon.jpg") no-repeat center center/cover;
}

//apple
.showcase1 {
    background: url('../img/apple/iphone_12.jpg') no-repeat center center/cover;
}

.showcase2 {
    background: url('../img/apple/ipad.jpg') no-repeat center center/cover;
}

.showcase3 {
    background: url('../img/apple/imac.jpg') no-repeat center center/cover;
}

.home-cards {
    .picture1 {
        background: url('../img/apple/home_card-wwdc21.jpg') no-repeat center center/cover;
    }

    .picture2 {
        background: url('../img/apple/home_card-iphone_12.jpg') no-repeat center center/cover;
    }

    .picture3 {
        background: url('../img/apple/home_card-watch.jpg') no-repeat center center/cover;
    }

    .picture4 {
        background: url('../img/apple/home_card-trying_s2.jpg') no-repeat center center/cover;
    }

    .picture5 {
        background: url('../img/apple/home_card-arcade.jpg') no-repeat center center/cover;
    }

    .picture6 {
        background: url('../img/apple/home_card-airtag.jpg') no-repeat center center/cover;
    }
}